<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppDbContext" connectionString="data source=103.154.176.103;initial catalog=Bottega;persist security info=True;user id=dev;password=S3nt0r@#Vi3tn@m#2021;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>