@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources

@model User
@{
    Layout = "";
    List<Category> categories = (List<Category>)ViewBag.categories;
    List<int?> userCategories = (List<int?>)ViewBag.userCategories;
    List<Product> products = (List<Product>)ViewBag.products;
    List<User_Product> userProducts = (List<User_Product>)ViewBag.userProducts;

    int stt = 0;
}

@if (categories != null && categories.Count() > 0)
{
    foreach (var item in categories)
    {
        <tr>
            <td style="border: 1px solid #E0E0E0 !important ">@item.Name</td>
            <td class="text-center" style="border: 1px solid #E0E0E0 !important ">
                <img style="cursor: pointer" src="/Files/images/system/close.png" width="24" height="24" data-id="@Model.UserID" data-category="@item.CategoryId" onclick="remove_category($(this));"/>
            </td>
        </tr>
    }
}

